<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/join.css" />
    <script
      src="https://kit.fontawesome.com/bfafa52380.js"
      crossorigin="anonymous"
      defer
    ></script>
  </head>
  <body>
    <header class="header">
      <h1 class="logo">
        <a href="">오늘 뭐 먹지?</a>
      </h1>
      <nav class="navbar">
        <ul class="navbar__list">
          <li class="navbar__list__item">
            <a href="">회원가입</a>
          </li>
          <li class="navbar__list__item">
            <a href="">로그인</a>
          </li>
          <li class="navbar__list__item">
            <a href="">장바구니</a>
          </li>
          <li class="navbar__list__item">
            <a href="">마이페이지</a>
          </li>
          <li class="navbar__list__item">
            <a href="">고객센터</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <h2>회원가입</h2>
      <form action="">
        <fieldset>
          <legend>이름</legend>
          <input type="text">
        </fieldset>
        <fieldset class="name">
          <legend>아이디</legend>
          <input type="text">
        </fieldset>
        <button>중복체크</button>
        <fieldset>
          <legend>비밀번호</legend>
          <input type="password">
        </fieldset>
        <fieldset>
          <legend>전화번호</legend>
          <input type="tel">
        </fieldset>
        <fieldset>
          <legend>주소</legend>
          <input type="text">
        </fieldset>
        <button>회원가입</button>
        <button type="button">메인으로</button>
      </form>
    </main>
    <footer class="footer"></footer>
  </body>
</html>