<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<script type="text/javascript">


const button = document.querySelector("#input_submit");
const resetButton = document.querySelector("#reset");
const forms = document.querySelectorAll("form");
let checkedItem = []

function check(event){
  event.preventDefault()

  const checked = document.querySelectorAll("input[type=checkbox]:checked");
  console.dir(checked)

  for(let i = 0; i < checked.length; i++){
      const temp = {text:checked[i].name};
      checkedItem.push(temp);
  }
  localStorage.setItem("Selected_condition", JSON.stringify(checkedItem));

  if(checked.length == 0){
      localStorage.removeItem("Selected_condition")
  }
}

function resetForms(){
	forms[0].reset()
	forms[1].reset()
	forms[2].reset()
}

button.addEventListener("click", check);
resetButton.addEventListener("click", resetForms);
</script>


</body>
</html>