@charset "UTF-8";

@font-face {
  src: url(/font/BMJUA_ttf.ttf);
  font-family: "jua";
}
@font-face {
  src: url(/font/NotoSansKR-Thin.otf);
  font-family: "NotoSansKR-Thin";
}
@font-face {
  src: url(/font/NotoSansKR-Light.otf);
  font-family: "NotoSansKR-Light";
}
@font-face {
  src: url(/font/NotoSansKR-Regular.otf);
  font-family: "NotoSansKR-Regular";
}
@font-face {
  src: url(/font/NotoSansKR-Medium.otf);
  font-family: "NotoSansKR-Medium";
}
@font-face {
  src: url(/font/NotoSansKR-Bold.otf);
  font-family: "NotoSansKR-Bold";
}
@font-face {
  src: url(/font/NotoSansKR-Black.otf);
  font-family: "NotoSansKR-Black";
}
/* Global */

:root {
  /* Color */
  --color-flat-flesh: #fad390;
  --color-squash-blossom: #f6b93b;
  --color-iceland-poppy: #fa983a;
  --color-carrot-orange: #e58e26;
  --color-melon-melody: #f8c291;
  --color-mandarin-red: #e55039;
  --color-tomato-red: #eb2f06;
  --color-jalapeno-red: #b71540;
  --color-azraq-blue: #4a69bd;
  --color-yue-guang-lan-blue: #1e3799;
  --color-dark-sapphire: #0c2461;
  --color-spray: #82ccdd;
  --color-dupin: #60a3bc;
  --color-good-samaritan: #3c6382;
  --color-forest-blues: #0a3d62;
  --color-paradise-green: #b8e994;
  --color-aurora-green: #78e08f;
  --color-waterfall: #38ada9;
  --color-reef-encounter: #079992;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
  /* animation */
  --animation-duration: 300ms;
  --transition-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

.blind {
  overflow: hidden;
  position: absolute;
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.inner {
  max-width: 1024px;
  margin: auto;
}
.inner::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

body {
  font-family: "jua", Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

textarea,
input,
button {
  border: 0;
  outline: 0;
  font-family: "jua", Arial, Helvetica, sans-serif;
}

a,
button,
label {
  transition-property: color, background;
  transition-duration: var(--transition-duration);
}

.main {
  min-height: 100vh;
  padding-top: 10vh;
  background-color: var(--color-flat-flesh);
}

.main .inner {
  padding: 30px 100px;
}

.main .inner > h2 {
  text-align: center;
  color: saddlebrown;
  font-size: var(--font-large);
}

.download_button {
  display: block;
  float: right;
  width: 200px;
  padding: 10px;
  font-size: var(--font-regular);
  border-radius: 5px;
  background-color: #3c6382;
}

.loading {
  position: fixed;
  margin: auto;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #fad39064;
  backdrop-filter: blur(10px);
  color: saddlebrown;
  font-size: 34px;
}
.loading figure {
  position: relative;
  width: 100%;
  height: 100%;
}

.loading figure img {
  object-fit: fill;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 400px;
}
