.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--color-iceland-poppy);
  padding: 20px 0;
  z-index: 1;
}
.header .logo {
  font-size: var(--font-large);
  color: whitesmoke;
  float: left;
}
.header .navbar {
  float: right;
  font-size: var(--font-medium);
  padding-top: 18px;
}

.header .navbar ul::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.header .navbar ul li {
  float: left;
}

.header .navbar ul li:nth-child(n + 2) {
  margin-left: 15px;
}
