.search {
    position: relative;
    margin-bottom: 100px;
  }
  
  .search__text {
    width: 100%;
    padding: 15px;
    border-radius: 15px 0px 0 15px;
    border: 0;
    font-size: var(--font-medium);
    outline: 0;
    border: 3px solid var(--color-iceland-poppy);
  }
  
  .search__button {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: var(--color-iceland-poppy);
    border: 0;
    padding: 14px;
    font-size: var(--font-medium);
    border: 3px solid var(--color-iceland-poppy);
    border-radius: 0 15px 15px 0;
    color: whitesmoke;
  }
  
  .category::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
  }
  .category .category__button {
    color: whitesmoke;
    float: left;
    width: 48%;
    height: 400px;
    border-radius: 15px;
    border: 3px solid var(--color-iceland-poppy);
    background-color: whitesmoke;
    color: var(--color-carrot-orange);
  }
  
  .category .category__button:hover {
    background-color: var(--color-iceland-poppy);
    color: whitesmoke;
  }
  
  .category .category__button:nth-child(n + 2) {
    margin-left: 4%;
  }
  
  .menu__button__icon {
    font-size: 130px;
    margin-bottom: 30px;
  }
  
  .menu .menu__button:hover .menu__button__icon {
    animation: animate var(--animation-duration) ease-out var(--transition-duration)  infinite alternate;
  }
  
  @keyframes animate {
    0% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(5deg);
    }
  }
  
  .menu__button__text {
    font-size: var(--font-medium);
    font-weight: bold;
  }
  