.menu {
    background-color: #dee1d1;
    padding: 40px;
    border-radius: 15px;
  }
  .menu__fieldset {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-radius: 5px;
  }
  
  .menu__fieldset:nth-child(1) {
    margin-bottom: 30px;
  }
  
  .menu__fieldset:nth-child(2) {
    margin-bottom: 50px;
    border: 3px solid #c0bca7;
    background-color: white;
      border-radius: 8px;
  }
  
  .menu__fieldset:nth-child(3) {
/*     margin-bottom: 50px; */
    border: 3px solid #c0bca7;
    background-color: white;
      border-radius: 8px;
  }
  .menu__legend {
    font-size: var(--font-medium);
    padding: 10px 15px;
    background-color: white;
    margin-left: 20px;
    color: #8b8b8b;
    border-radius: 8px;
  }
  .menu__input {
    padding: 10px;
    width: 100%;
    font-size: var(--font-medium);
     color: #494841;
  }
  
  .menu__button {
    font-size: var(--font-medium);
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    background-color: #6f6c61;
    border-radius: 8px;
    color: whitesmoke;
    border: 0;
  }
  