.main .inner {
  padding: 40px;
}
.eating_house {
  padding: 40px;
  border-radius: 15px;
  background-color: var(--color-tomato-red);
}

.eating_house__fieldset {
  border: 3px solid var(--color-jalapeno-red);
  border-radius: 8px;
  overflow: hidden;
}

.eating_house .img__field {
  padding: 20px;
  height: 366px;
  width: 50%;
  float: left;
  background-color: white;
}

.eating_house .img__field input[type="image"] {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.eating_house .text__field {
  width: 50%;
  float: left;
  padding: 20px;
  margin-bottom: 30px;
}
.eating_house .text__field .eating_house__fieldset {
  border: 3px solid var(--color-jalapeno-red);
  background-color: white;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
  overflow: hidden;
}

.eating_house__legend {
  font-size: var(--font-regular);
  padding: 5px 10px;
  background-color: white;
  margin-left: 20px;
  color: #8b8b8b;
  border-radius: 8px;
}
.eating_house__input {
  padding: 10px;
  width: 100%;
  font-size: var(--font-medium);
}

.eating_house__textarea {
  padding: 10px;
  width: 100%;
  font-size: var(--font-medium);
  resize: none;
}

.eating_house__button {
  margin-top: 30px;
  font-size: var(--font-medium);
  padding: 15px;
  width: 100%;
  background-color: var(--color-jalapeno-red);
  border-radius: 8px;
  color: whitesmoke;
  border: 0;
}

a.eating_house__button {
    display: block;
    text-align: center;
}

.eating_house__address_fieldset {
  clear: both;
  background-color: white;
  border: 3px solid var(--color-jalapeno-red);
  border-radius: 8px;
  overflow: hidden;
}

.eating_house__input[id="address"] {
  float: left;
  width: 78%;
}
.eating_house__input[id="address"] + .eating_house__button {
  font-size: var(--font-regular);
  padding: 10px;
  width: 20%;
  background-color: var(--color-jalapeno-red);
  border-radius: 8px;
  color: whitesmoke;
  border: 0;
  margin: 0;
  clear: left;
  margin-right: 2%;
}

.eating_house__menu_list {
  background-color: var(--color-yue-guang-lan-blue);
  padding: 40px;
  border-radius: 15px;
}

.eating_house__menu {
  background-color: var(--color-azraq-blue);
  margin-bottom: 5px;
  border-radius: 10px;
}

.eating_house__menu_inner {
  display: block;
  padding: 20px;
}

.eating_house__menu_inner::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.eating_house__menu__img_fieldset {
  width: 15%;
  float: left;
  overflow: hidden;
  border: 3px solid var(--color-dark-sapphire);
  border-radius: 5px;
}

.eating_house__menu__img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  display: block;
}

.eating_house__menu__text {
  float: left;
  width: 85%;
  padding-left: 20px;
}

.eating_house__menu__text h2 {
  font-size: var(--font-medium);
}

.eating_house__menu__text p {
  font-size: var(--font-regular);
}
.eating_house__menu:last-child {
  text-align: center;
}
