.main .inner {
  padding-top: 160px;
}
.join_button {
  width: 48%;
  height: 400px;
  float: left;
/*   border: 3px solid #0a3d62;   */
  border-radius: 50%;
  background-color: #82ccdd;
  color: white;
}

.join_button:hover {
  color: aliceblue;
  background-color: #60a3bc;
}

.join_button:nth-child(2) {
  margin-left: 4%;
}

.join_button__icon {
  font-size: 120px;
}

.join_button__text {
  margin-top: 30px;
  font-size: 30px;
}
