.main .inner {
  padding: 30px 0;
  max-width: 1600px;
}

input[name="map_active_button"] {
  display: none;
}

.members {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid var(--color-yue-guang-lan-blue);
}

.members .members__caption {
  border-radius: 5px 5px 0 0;
  padding: 15px 0 10px;
  font-size: var(--font-medium);
  background-color: var(--color-yue-guang-lan-blue);
}

.members tr th,
.members tr td {
  padding: 5px 0;
  color: black;
  vertical-align: middle;
  border: 2px dotted var(--color-yue-guang-lan-blue);
  border-bottom: 2px solid var(--color-yue-guang-lan-blue);
  background-color: aliceblue;
}

.members tr th {
  border: 2px solid var(--color-yue-guang-lan-blue);
  font-size: var(--font-regular);
  font-family: "NotoSansKR-Bold";
  border-bottom: 3px double var(--color-yue-guang-lan-blue);
}

.members tr td {
  font-size: var(--font-regular);
  font-family: "NotoSansKR-Regular";
  text-align: center;
}

.members tbody tr td {
  padding-left: 20px;
  padding-right: 5px;
  text-align: left;
}

.members tbody tr td:nth-child(8) label[for*="map_active_button"] {
  cursor: pointer;
  color: var(--color-aurora-green);
  text-decoration: underline;
}

.members tbody tr td:nth-child(8) label[for*="map_active_button"]:hover {
  color: var(--color-reef-encounter);
}

.members tbody tr td:nth-child(8) label[for="map_close_button"] {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.members tbody tr td:nth-child(8) label[for="map_close_button"] .map_outer {
  margin-top: 100px;
  padding: 30px;
  background-color: var(--color-iceland-poppy);
  display: inline-block;
  border-radius: 15px;
}

.members tbody tr td:nth-child(8) label[for="map_close_button"] .map_inner {
  width: 1024px;
  height: 600px;
  overflow: hidden;
  border-radius: 10px;
  z-index: 2;
}

.members
  tbody
  tr
  td:nth-child(8)
  label[for="map_close_button"]
  .map_outer
  figcaption {
  margin-top: 30px;
  color: whitesmoke;
}

.members
  tbody
  tr
  td:nth-child(8)
  label[for="map_close_button"]
  .map_outer
  figcaption {
  font-size: var(--font-medium);
  text-align: center;
}

.members
  tbody
  tr
  td:nth-child(8)
  input[name="map_active_button"]:checked
  + label[for="map_close_button"] {
  display: block;
}
