@charset "utf-8";


.main {
  height: 70vh;
  text-align: center;
  padding: 5vh 0;
}
.main h2 {
  font-size: 34px;
  margin-bottom: 20px;
}

.main p {
  font-size: 22px;
  margin-bottom: 30px;
  text-align: center;
  color : #D07445;
}

.main .inner {
  text-align: left;
  width: 60%;
  margin: auto;
}

.main input {
  display: none;
}
#keyword_nav__trigger01:checked
  ~ .keyword_nav
  li:nth-child(1)
  .keyword_nav__item {
  background-color: #E8C08B;
}
#keyword_nav__trigger02:checked
  ~ .keyword_nav
  li:nth-child(2)
  .keyword_nav__item {
  background-color: #E8C08B;
}
#keyword_nav__trigger03:checked
  ~ .keyword_nav
  li:nth-child(3)
  .keyword_nav__item {
  background-color:#E8C08B;
}

.main .keyword_nav ul::after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}

.main .keyword_nav ul li {
  width: 30%;
  height: 40px;
  float: left;
}
.main .keyword_nav ul li:nth-child(2),
.main .keyword_nav ul li:nth-child(3) {
  margin-left: 5%;
}
.main .keyword_nav ul li .keyword_nav__item {
  font-size: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color : #A36448;
}

.main .keyword_box .keyword_box__item {
  display: none;
}

.main .keyword_box .keyword_box__item form {
  height: 300px;
  border: 3px solid #AF9572;
}

.main .keyword_box .keyword_box__item form input:checked + label {
  background-color: #E8C08B;
}

.main .keyword_box .keyword_box__item form label {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 20%;
  font-size: 18px;
  font-weight: bold;
  height: 33.33%;
  color : #A36448;
}

#keyword_nav__trigger01:checked ~ .keyword_box li.keyword_box__item:nth-child(1) {
  display: block;
}
#keyword_nav__trigger02:checked ~ .keyword_box li.keyword_box__item:nth-child(2) {
  display: block;
}
#keyword_nav__trigger03:checked ~ .keyword_box li.keyword_box__item:nth-child(3) {
  display: block;
}

.main .inner button {
  width: 48%;
  height: 50px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  float: left;
  color : #8B461F;
}

.main .inner button:last-child {
  margin-left: 4%;
}

.footer {
  background-color: antiquewhite;
  height: 15vh;
}

#selected{
	font-size : 40px;
	display: flex;
    justify-content: center;
    margin-top:15%;
    color:saddlebrown;
}