<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <main class="main" th:fragment="main">
    <div class="inner">
  
      <form
        th:action="@{'/customer/mypage/edit/' + ${customer.getId()} }"
        method="post"
        th:object="${joinForm}"
        class="join"
      >
      <address class="join__title">회원정보 수정</address>
      
        <fieldset class="join__fieldset">
          <legend class="join__legend">이름</legend>
          <input
            class="join__input"
            type="text"
            th:field="*{name}"
            placeholder="name"
            autocomplete="off"
            required
          />
        </fieldset>
        <fieldset class="join__fieldset">
          <legend class="join__legend">비밀번호</legend>
          <input
            class="join__input"
            type="password"
            th:field="*{password}"
            placeholder="password"
            autocomplete="off"
            required
          />
        </fieldset>
        <fieldset class="join__fieldset">
          <legend class="join__legend">이메일</legend>
          <input
            class="join__input"
            type="email"
            th:field="*{email}"
            placeholder="email"
            autocomplete="off"
            required
          />
        </fieldset>
        <fieldset class="join__fieldset">
          <legend class="join__legend">전화번호</legend>
          <input
            class="join__input"
            type="tel"
            th:field="*{tel}"
            placeholder="phone number"
            autocomplete="off"
            required
          />
        </fieldset>
        <fieldset class="join__fieldset">
          <legend class="join__legend">주소</legend>
          <input
            class="blind"
            id="address-info"
            type="text"
            th:field="*{address}"
          />
          <input
            class="join__input"
            type="text"
            id="address"
            onkeyup="addressEmptyCheck()"
            onclick="getAddress()"
            placeholder="Address"
            autocomplete="off"
            required
          />
          <button type="button" class="join__button" onclick="getAddress()">
            주소 검색
          </button>
          <input
            class="join__input"
            type="text"
            placeholder="상세주소"
            autocomplete="off"
            required
            th:field="*{addressDetail}"
          />
        </fieldset>
        <button class="join__button">수정</button>
        <a class="join__button" th:href="@{'/customer/mypage/delete/' + ${customer.getId()} }">삭제</a>
      </form>
    </div>
  </main>
</html>
