<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">오늘 뭐 먹지?</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"></li>
                </ul><span class="navbar-text actions"> <a class="login" href="#">Log In</a><a class="btn btn-light action-button" role="button" href="#">Sign Up</a></span>
            </div>
        </div>
    </nav>
    <section class="highlight-clean">
        <div class="container" style="height: 200px;padding-top: 20px;">
            <div class="intro">
                <h2 class="text-center">오늘 뭐 먹지?</h2>
            </div>
            <div class="buttons"><input type="search" style="height: 50px;width: 500px;"></div>
        </div>
    </section>
    <div class="container">
        <div class="row" style="margin-top: 0px;margin-right: 10%;margin-left: 10%;">
            <div class="col-md-3 col-xl-5 offset-xl-10" style="height: 150px;width: 200px;margin: 0 auto;margin-right: auto;margin-bottom: 2%;max-width: 100%;min-width: auto;">
                <button class="category__button">
                    <figure>
                        <figcaption class="category__button__text">메뉴 추천 받기</figcaption>
                    </figure>
                </button>
            </div>
            <div class="col-md-3 col-xl-5 offset-xl-11" style="height: 150px;width: 200px;margin: 0 auto;margin-right: auto;margin-bottom: 2%;max-width: 100%;min-width: auto;">
                <button class="category__button">
                    <figure>
                        <figcaption class="category__button__text">메뉴 전체 보기</figcaption>
                    </figure>
                </button>
            </div>
            <div class="col-md-3 col-xl-5 offset-xl-11" style="height: 150px;width: 200px;margin: 0 auto;margin-right: auto;margin-bottom: 2%;max-width: 100%;min-width: auto;">
                <button class="category__button">
                    <figure>
                        <figcaption class="category__button__text">한식</figcaption>
                    </figure>
                </button>
            </div>
            <div class="col-md-3 col-xl-5 offset-xl-11" style="height: 150px;width: 200px;margin: 0 auto;margin-right: auto;margin-bottom: 2%;max-width: 100%;min-width: auto;">
                <button class="category__button">
                    <figure>
                        <figcaption class="category__button__text">일식</figcaption>
                    </figure>
                </button>
            </div><div class="col-md-3 col-xl-5 offset-xl-11" style="height: 150px;width: 200px;margin: 0 auto;margin-right: auto;margin-bottom: 2%;max-width: 100%;min-width: auto;">
                <button class="category__button">
                    <figure>
                        <figcaption class="category__button__text">중식</figcaption>
                    </figure>
                </button>
            </div><div class="col-md-3 col-xl-5 offset-xl-11" style="height: 150px;width: 200px;margin: 0 auto;margin-right: auto;margin-bottom: 2%;max-width: 100%;min-width: auto;">
                <button class="category__button">
                    <figure>
                        <figcaption class="category__button__text">양식</figcaption>
                    </figure>
                </button>
            </div><div class="col-md-3 col-xl-5 offset-xl-11" style="height: 150px;width: 200px;margin: 0 auto;margin-right: auto;margin-bottom: 2%;max-width: 100%;min-width: auto;">
                <button class="category__button">
                    <figure>
                        <figcaption class="category__button__text">치킨</figcaption>
                    </figure>
                </button>
            </div><div class="col-md-3 col-xl-5 offset-xl-11" style="height: 150px;width: 200px;margin: 0 auto;margin-right: auto;margin-bottom: 2%;max-width: 100%;min-width: auto;">
                <button class="category__button">
                    <figure>
                        <figcaption class="category__button__text">분식</figcaption>
                    </figure>
                </button>
            </div><div class="col-md-3 col-xl-5 offset-xl-11" style="height: 150px;width: 200px;margin: 0 auto;margin-right: auto;margin-bottom: 2%;max-width: 100%;min-width: auto;">
                <button class="category__button">
                    <figure>
                        <figcaption class="category__button__text">디저트</figcaption>
                    </figure>
            <div class="col-md-3 col-xl-5 offset-xl-11" style="height: 150px;width: 200px;margin: 0 auto;margin-right: auto;margin-bottom: 2%;max-width: 100%;min-width: auto;"></div>
            <div class="col-md-3 col-xl-5 offset-xl-11" style="height: 150px;width: 200px;margin: 0 auto;margin-right: auto;margin-bottom: 2%;max-width: 100%;min-width: auto;"></div>
        </div>
    </div>
    <footer class="footer-clean">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item" style="width: 350px;">
                    <h3 style="margin-top: 20px;">오늘 뭐 먹지?</h3>
                    <ul>
                        <li style="padding-right: 0px;"><a href="#"><br>| 서울시 강남구 역삼동 테헤란로 멀티캠퍼스<br>| 대표자 : 전효정<br>| 사업자등록번호 : 000-00-0000&nbsp;<br>| 고객만족센터 : whattoeattoday@wtet.co.kr<br><br><br></a></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>