<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <main class="main" th:fragment="main">
    <div class="inner">
      <h2>매장 가입</h2>
      <form
        action="/eatinghouse/store"
        method="post"
        th:object="${joinStore}"
        class="join"
      >
               
        <fieldset class="join__fieldset">
          <legend class="join__legend">매장이름</legend>
          <input
            class="join__input"
            type="text"
            th:field="*{name}"
            placeholder="name"
            autocomplete="off"
            required
          />
        </fieldset>
        <fieldset class="join__fieldset">
          <legend class="join__legend">전화번호</legend>
          <input
            class="join__input"
            type="tel"
            th:field="*{tel}"
            placeholder="phone number"
            autocomplete="off"
            required
          />
        </fieldset>
        <fieldset class="join__fieldset">
          <legend class="join__legend">주소</legend>
          <input
            class="blind"
            id="address-info"
            type="text"
            th:field="*{address}"
          />
          <input
            class="join__input"
            type="text"
            id="address"
            onkeyup="addressEmptyCheck()"
            onclick="getAddress()"
            placeholder="Address"
            autocomplete="off"
            required
          />
          <button type="button" class="join__button" onclick="getAddress()">
            주소 검색
          </button>
          <input
                  class="join__input"
                  type="text"
                  placeholder="상세주소"
                  autocomplete="off"
                  required
                  th:field="*{addressDetail}"
          />
        </fieldset>
        <button class="join__button">매장등록</button>
      </form>
    </div>
  </main>
</html>
