<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <main class="main" th:fragment="main">
    <div class="inner">
      <h2>메뉴 등록</h2>
      <form
        method="post"
        th:object="${joinStoreItem}"
        class="join"
      >
                                
           <fieldset class="join__fieldset">
          <legend class="join__legend">음식이름</legend>
          <input
            class="join__input"
            type="text"
            th:field="*{name}"
            placeholder="name"
            autocomplete="off"
            required
          />
          
        </fieldset>
        <fieldset class="join__fieldset">
          <legend class="join__legend">가격</legend>
          <input
            class="join__input"
            type="text"
            th:field="*{price}"
            placeholder="price"
            autocomplete="off"
            required
          />
        </fieldset>
      
        <button class="join__button">메뉴등록</button>
      </form>
    </div>
  </main>
</html>
