<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <main class="main" th:fragment="main">
    <div class="inner">
      <table class="members">
        <caption class="members__caption">
          회원정보
        </caption>
        <colgroup>
          <col class="no_space" />
          <col class="type_space" />
          <col class="id_space" />
          <col class="password_space" />
          <col class="name_space" />
          <col class="email_space" />
          <col class="tel_space" />
          <col class="address_space" />
        </colgroup>
        <thead>
          <tr>
            <th>No</th>
            <th>유형</th>
            <th>아이디</th>
            <th>비밀번호</th>
            <th>이름</th>
            <th>이메일</th>
            <th>전화번호</th>
            <th>주소</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="member, iterStat : ${members}">
            <td th:text="${iterStat.count}">No</td>
            <td th:text="${member.getClass().getSimpleName()}">유형</td>
            <td th:text="${member.getId()}">아이디</td>
            <td th:text="${member.getPassword()}">패스워드</td>
            <td th:text="${member.getName()}">이름</td>
            <td th:text="${member.getEmail()}">이메일</td>
            <td th:text="${member.getTel()}">전화번호</td>
            <td th:text="${member.getAddress()}">주소</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8">
              <ul class="pagenation">
                <li>
                  <a href="">1</a>
                </li>
                <li>
                  <a href="">2</a>
                </li>
                <li>
                  <a href="">3</a>
                </li>
                <li>
                  <a href="">4</a>
                </li>
                <li>
                  <a href="">5</a>
                </li>
              </ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </main>
</html>
