<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메뉴 추천받기</title>   
    <script
      src="https://kit.fontawesome.com/bfafa52380.js"
      crossorigin="anonymous"
      defer
    ></script>
  </head>
  <body>
    
    <main class="main">
      <div class="inner">
        <br>
        <br>
        <br>
        <h2>오늘 뭐 먹지?</h2>
        <p>키워드로 메뉴 추천을 도와드릴게요</p>
        <input
          type="radio"
          name="keyword_nav__trigger"
          id="keyword_nav__trigger01"
          checked
        />
        <input
          type="radio"
          name="keyword_nav__trigger"
          id="keyword_nav__trigger02"
        />
        <input
          type="radio"
          name="keyword_nav__trigger"
          id="keyword_nav__trigger03"
        />
        <nav class="keyword_nav">
          <ul>
            <li>
              <label class="keyword_nav__item" for="keyword_nav__trigger01"
                >오늘 기분은?</label
              >
            </li>
            <li>
              <label class="keyword_nav__item" for="keyword_nav__trigger02"
                >오늘 날씨는?</label
              >
            </li>
            <li>
              <label class="keyword_nav__item" for="keyword_nav__trigger03"
                >오늘 상황은?</label
              >
            </li>
          </ul>
        </nav>
        <ul class="keyword_box">
          <li class="keyword_box__item">
            <form id="section_search">
              <label th:each="condition : ${condition1}">
              	<input th:value="${condition.id}" th:text="${condition.name}"/>              	
              </label>              
            </form>
          </li>
          <li class="keyword_box__item">
            <form id="section_search">
              <label th:each="condition : ${condition2}">
              	<input th:value="${condition.id}" th:text="${condition.name}"/> 
              </label> 
            </form>
          </li>
          <li class="keyword_box__item">
            <form id="section_search">
               <label th:each="condition : ${condition3}">
              	<input th:value="${condition.id}" th:text="${condition.name}"/>
               </label>  
            </form>
          </li>
        </ul>
        <button type="submit" id="input_submit" onclick="location.href='/customer/recommendResult'">결정하기</button>
        <button id="reset">다시 고르기</button>
      </div>
    </main>
    <footer class="footer"></footer>


   
  </body>
 
</html>
