<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <main class="main" th:fragment="main">
    <div class="inner">
      <h2>메뉴 수정</h2>
      <form
        action="/eatinghouse/item/{itemId}/edit"
        method="post"
        th:object="${form}"
        class="join"
      >
		
		<input 
			type="hidden"
			th:field="*{id}"/>      
      
               
        <fieldset class="join__fieldset">
          <legend class="join__legend">음식이름</legend>
          <input
            class="join__input"
            type="text"
            th:field="*{name}"
            placeholder="name"
            autocomplete="off"
            required
          />
        </fieldset>
        <fieldset class="join__fieldset">
          <legend class="join__legend">가격</legend>
          <input
            class="join__input"
            type="text"
            th:field="*{price}"
            placeholder="price"
            autocomplete="off"
            required
          />
        </fieldset>
      
        <button class="join__button">메뉴수정</button>
      </form>
    </div>
  </main>
</html>
