<!DOCTYPE html>
<html lang="en">
  <head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrinkto-fit=no"
    />
    <!-- Custom styles for this template -->

    <link href="../../static/css/reset.css" rel="stylesheet" />
    <link href="../../static/css/reset.css" rel="stylesheet" />
    <link href="../../static/css/global.css" rel="stylesheet" />
    <link href="../../static/css/header.css" rel="stylesheet" />
    <link href="../../static/css/main/addMenu.css" rel="stylesheet" />
    <link href="../../static/css/footer.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/bfafa52380.js"
      crossorigin="anonymous"
      defer
    ></script>
    <title>What to eat Today</title>
  </head>
  <body>
    <header class="header">
      <div class="inner">
        <h1 class="logo">
          <a href="/"> 오늘 뭐 먹지? </a>
        </h1>
        <nav class="navbar">
          <ul>
            <li>
              <a href="#">로그인</a>
            </li>
            <li>
              <a href="#">회원가입</a>
            </li>
            <li>
              <a href="#">정보</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <div class="inner">
        <form
          action="/manager/eating_house/edit/{eatingHouseId}"
          method="post"
          th:object="${joinForm}"
          class="menu"
        >
          <fieldset class="menu__fieldset">
            <input
              type="image"
              src="../../static/img/sample.webp"
              class="menu__input"
            />
          </fieldset>
          <fieldset class="menu__fieldset">
            <legend class="menu__legend">이름</legend>
            <input type="text" class="menu__input" />
          </fieldset>
          <fieldset class="menu__fieldset">
            <legend class="menu__legend">가격</legend>
            <input type="number" class="menu__input" min="0" step="100" />
          </fieldset>
          <button class="menu__button">등록</button>
        </form>
      </div>
    </main>
    <footer class="footer">
      <div class="inner">
        <address>팀프로젝트</address>
      </div>
    </footer>
  </body>
</html>
