<!DOCTYPE html>
<html lang="en">
  <head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrinkto-fit=no"
    />
    <!-- Custom styles for this template -->

    <link href="../../static/css/reset.css" rel="stylesheet" />
    <link href="../../static/css/global.css" rel="stylesheet" />
    <link href="../../static/css/header.css" rel="stylesheet" />
    <link href="../../static/css/main/join.css" rel="stylesheet" />
    <link href="../../static/css/footer.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/bfafa52380.js"
      crossorigin="anonymous"
      defer
    ></script>
    <title>What to eat Today</title>
  </head>
  <body>
    <header class="header">
      <div class="inner">
        <h1 class="logo">
          <a href="/"> 오늘 뭐 먹지? </a>
        </h1>
        <nav class="navbar">
          <ul>
            <li>
              <a href="#">로그인</a>
            </li>
            <li>
              <a href="#">회원가입</a>
            </li>
            <li>
              <a href="#">정보</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <div class="inner">
        <button class="join_button" type="button" onclick=" location.href='/join/manager' ">
          <figure>
            <i class="fa-solid fa-user-gear join_button__icon"></i>
            <figcaption class="join_button__text">관리자</figcaption>
          </figure>
        </button>
        <button class="join_button" type="button" onclick=" location.href='/join/customer' ">
          <figure>
            <i class="fa-solid fa-users join_button__icon"></i>
            <figcaption class="join_button__text">
                고객
            </figcaption>
          </figure>
        </button>
      </div>
    </main>
    <footer class="footer">
      <div class="inner">
        <address>팀프로젝트</address>
      </div>
    </footer>
  </body>
</html>
