<!DOCTYPE html>
<html lang="en">
  <head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrinkto-fit=no"
    />
    <!-- Custom styles for this template -->

    <link href="../../static/css/reset.css" rel="stylesheet" />
    <link href="../../static/css/reset.css" rel="stylesheet" />
    <link href="../../static/css/global.css" rel="stylesheet" />
    <link href="../../static/css/header.css" rel="stylesheet" />
    <link href="../../static/css/main/eatingHouse.css" rel="stylesheet" />
    <link href="../../static/css/footer.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/bfafa52380.js"
      crossorigin="anonymous"
      defer
    ></script>
    <title>What to eat Today</title>
  </head>
  <body>
    <header class="header">
      <div class="inner">
        <h1 class="logo">
          <a href="/"> 오늘 뭐 먹지? </a>
        </h1>
        <nav class="navbar">
          <ul>
            <li>
              <a href="#">로그인</a>
            </li>
            <li>
              <a href="#">회원가입</a>
            </li>
            <li>
              <a href="#">정보</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <div class="inner">
        <ul class="eating_house__list">
          <li class="eating_house">
            <a href="" class="eating_house__inner">
              <figure class="eating_house__img">
                <img src="" alt="" />
                <figcaption class="blind"></figcaption>
              </figure>
              <div class="eating_house__text">
                <h2>가게이름</h2>
                <p>가게설명</p>
              </div>
            </a>
          </li>
          <li class="eating_house">
            <a href="" class="eating_house__inner">
              <figure class="eating_house__img">
                <img src="" alt="" />
                <figcaption class="blind"></figcaption>
              </figure>
              <div class="eating_house__text">
                <h2>가게이름</h2>
                <p>가게설명</p>
              </div>
            </a>
          </li>
          <li class="eating_house">
            <a href="" class="eating_house__inner">
              <figure class="eating_house__img">
                <img src="" alt="" />
                <figcaption class="blind"></figcaption>
              </figure>
              <div class="eating_house__text">
                <h2>가게이름</h2>
                <p>가게설명</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </main>
    <footer class="footer">
      <div class="inner">
        <address>팀프로젝트</address>
      </div>
    </footer>
  </body>
</html>
