<!DOCTYPE html>
<html lang="en">
  <head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrinkto-fit=no"
    />
    <!-- Custom styles for this template -->

    <link href="../../static/css/reset.css" rel="stylesheet" />
    <link href="../../static/css/reset.css" rel="stylesheet" />
    <link href="../../static/css/global.css" rel="stylesheet" />
    <link href="../../static/css/header.css" rel="stylesheet" />
    <link href="../../static/css/main/members.css" rel="stylesheet" />
    <link href="../../static/css/footer.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/bfafa52380.js"
      crossorigin="anonymous"
      defer
    ></script>
    <title>What to eat Today</title>
  </head>
  <body>
    <header class="header">
      <div class="inner">
        <h1 class="logo">
          <a href="/"> 오늘 뭐 먹지? </a>
        </h1>
        <nav class="navbar">
          <ul>
            <li>
              <a href="#">로그인</a>
            </li>
            <li>
              <a href="#">회원가입</a>
            </li>
            <li>
              <a href="#">정보</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <div class="inner">
        <table class="members">
          <caption class="members__caption">
            회원정보
          </caption>
          <colgroup>
            <col class="no_space">
            <col class="type_space">
            <col class="id_space">
            <col class="password_space">
            <col class="name_space">
            <col class="email_space">
            <col class="tel_space">
            <col class="address_space">
          </colgroup>
          <thead>
            <tr>
              <th>No</th>
              <th>유형</th>
              <th>아이디</th>
              <th>비밀번호</th>
              <th>이름</th>
              <th>이메일</th>
              <th>전화번호</th>
              <th>주소</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>유형</td>
              <td>a590824</td>
              <td>password</td>
              <td>박세진</td>
              <td>590824@ㅜㅁㅍㄷㄱ.태ㅡ</td>
              <td>010-60606-0785</td>
              <td>경기도 --- ---  -------</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="8">
                <ul class="pagenation">
                  <li>
                    <a href="">1</a>
                  </li>
                  <li>
                    <a href="">2</a>
                  </li>
                  <li>
                    <a href="">3</a>
                  </li>
                  <li>
                    <a href="">4</a>
                  </li>
                  <li>
                    <a href="">5</a>
                  </li>
                </ul>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </main>
    <footer class="footer">
      <div class="inner">
        <address>팀프로젝트</address>
      </div>
    </footer>
  </body>
</html>
