<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="header">  
   <title>마이페이지</title>
  </head>
  <body>
  
    <main class="main" th:fragment="main">      
      <div class="inner">
		<h2 class="title">마이페이지</h2>
		<section>
			<figure>
				<img class="img" src="https://us.123rf.com/450wm/inueng/inueng1601/inueng160100068/51082442-%EC%9B%8C%EB%93%9C-%EC%83%98%ED%94%8C-%EB%82%B4%EB%B6%80-%EB%B2%A1%ED%84%B0-%EC%9D%BC%EB%9F%AC%EC%8A%A4%ED%8A%B8-%EB%A0%88%EC%9D%B4-%EC%85%98-%EA%B3%A0%EB%AC%B4-%EC%8A%A4%ED%83%AC%ED%94%84.jpg?ver=6">
				<figcaption class="blind">sample</figcaption>
			</figure>
			<ul>
				<li th:text="${customer.getName()}">이름</li>
				<li th:text="${customer.getId()}">아이디</li>
				<li th:text="${customer.getEmail()}">이메일</li>
				<li th:text="${customer.getTel()}">전화번호</li>
				<li th:text="${customer.getAddress()}">주소</li>
			</ul>
			<button type="button" onclick="location.href='/edit'">회원정보 수정</button>
			<button type="button" onclick="location.href='/'">메인으로</button>
		</section>         
      </div>
    </main>
    
  </body>
</html>
