<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <!-- Custom styles for this template -->
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-32x32.png">
    <link href="/css/reset.css" rel="stylesheet" />
    <link href="/css/global.css" rel="stylesheet" />
    <link href="/css/header.css" rel="stylesheet" />
    <link th:href=" '/css/main/' + ${page}  + '.css' " rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet" />

   
    <script
            src="https://kit.fontawesome.com/bfafa52380.js"
            crossorigin="anonymous"
            defer
    ></script>

   
    <title th:text = "'오늘 뭐 먹지?| ' + ${page} ">오늘 뭐 먹지?</title>
</head>
